/* View All Button */
.btn-view-all {
    display: block;
    margin: 40px auto 0;
    background: transparent;
    border: 1.5px solid #ccc;
    color: #111;
    font-family: 'DM Sans', sans-serif;
    font-size: 0.85rem;
    font-weight: 500;
    padding: 11px 36px;
    border-radius: 50px;
    width: fit-content;
    transition: border-color 0.2s, background 0.2s;
    text-decoration: none;
}

.btn-view-all:hover {
    border-color: #111;
    background: #111;
    color: #fff;
}